<header>
    <h4>My Flask App</h4>
    <nav>
        <ul class="horizontal-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    /* CSS to style the horizontal list */
    .horizontal-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .horizontal-list li {
        margin-right: 10px;
    }

    .horizontal-list li a {
        text-decoration: none;
        color: #333;
    }
</style>